/*body {*/
  /*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
  /*margin: 30px auto;*/
  /*width: 1440px;*/
  /*position: relative;*/
/*}*/

/*header {*/
  /*padding: 6px 0;*/
/*}*/

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  position: relative;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  position: relative;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.t {
    color:#08519c;
    color:#3182bd;
    color:#6baed6;
    color:#bdd7e7;
    color:#bae4b3;
    color:#74c476;
    color:#31a354;
    color:#006d2c;

    color:#2E699A;
    color: #619CCD;
    color: #7EA9CD;
    color:#bdd7e7;
    color:#bae4b3;
    color: #98f53b;
    color: #92ea35;
    color: #6ab22c;
}

.horizon {
    cursor: pointer;
}

.horizon .title {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
  white-space: nowrap;
  color: #ef6d3b;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.horizon .value {
  top: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
  white-space: nowrap;
  color: #ef6d3b;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}

@media all and (max-width: 1439px) {
  body { margin: 0px auto; }
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}
