/*http://colorschemedesigner.com/#3m31Uw0w0w0w0*/

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-position:center top;
    background-attachment:fixed;
    background-size: cover;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.band, .bigBand, .pigBand, .headingImage, .transitionDown, .transitionUp {
    width: 100%;
    min-height: 350px;
    position: relative;
    color: #666666;
    background-color: rgba(255,255,255,0.0);

}

.bigBand {
    min-height: 600px;
}

.pigBand {
    min-height: 70px;
}

.littleBand {
    min-height: 20px;
}

.header-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.50);
}

.header-content{
    width: 1024px;
    margin: 0 auto 0 auto;
    font-size: 1.3em;
    line-height: 1.95em;
    color: #ffffff;
}

.header-left{
    position: relative;
    float: left;
    width: 40%;
    text-align: left;
    color: #dddddd;/*#fa8b60;#EF6D3B;*/
}

.header-right{
    position: relative;
    float: right;
    width: 50%;
    text-align: right;
}

.display-name {
    font-size: .6em;
    color: #666666;
}

.sign-out {
    font-size: .8em;
    text-decoration: none;
    color: #666666;
}

.goto-home {
    text-decoration: none;
    color: #ef6d3b;/*#dddddd;#EF6D3B;*/
}

.header-bottom{
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,1.0);
    z-index: 3;
    top: 70px;
}

.me{
    width: 50px;
    height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
    border-radius: 25px;
    background: url('/images/me.jpg') no-repeat;
    background-size: 50px;
    margin-top:10px;
    position: relative;
    float:right;
}
.transitionDown, .transitionUp {
    min-height: 3px;
}

.transitionDown {
    background: -webkit-linear-gradient(rgba(255,255,255,1.0), rgba(255, 255, 255, 0.0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1.0), rgba(255, 255, 255, 0.0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1.0), rgba(255, 255, 255, 0.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1.0), rgba(255, 255, 255, 0.0)); /* Standard syntax */
}

.transitionUp {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.0), rgba(255,255,255,1.0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255,0.0), rgba(255,255,255,1.0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0.0), rgba(255, 255, 255, 1.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,0.0), rgba(255, 255, 255, 1.0)); /* Standard syntax */
}

.purple {
    background-color: #4c138b;
    color: #ffffff;
}

.blue {
    background-color: deepskyblue;
    color: #ffffff;
}

.gray {
    background-color: #333333;
    color: #dddddd;
}

.white {
    background-color: #ffffff;
    color: #444444;
}

.green {
    background-color: #45b64a;
    color: #ffffff;
}

.red {
    background-color: darkred;
    color: deepskyblue;
}



.filter {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
}

.filter:after{
    content: ".";
    visibility: hidden;
}

.purpleFilter {
    background-color: rgba(76,19,139,.5);
    color: #ffffff;
}

.blueFilter {
    background-color: rgba(0,191,255,.5);
    color: #ffffff;
}

.greenFilter {
    background-color: rgba(23, 222, 32, 0.5);
    color: #ffffff;
}

.redFilter {
    background-color: rgba(255, 0, 0,.5);
    color: #ffffff;
}

.content {
    margin: 0 auto;
    width: 1024px;
    position: relative;
}

.contentCopy {
    min-height: 50px;
}

.largePadding {
    padding: 20px 10px;
}

.story{
    width:100%;
    padding: 20px 10px;
}

.story-title{
    position: relative;
    float: left;
    width: 100%;
    font-size: 1.7em;
    line-height: 2em;
}

.story-left{
    position: relative;
    float: left;
    width: 15%;
}

.story-main{
    position: relative;
    float: left;
    width: 85%
}

.story-sub{
    position: relative;
    float: left;
    width: 100%;
    font-size: .8em;
    line-height: 1em;
    font-style: italic;
}

.system {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999999;
    color: #999999;
}

.system-name {
    position: relative;
    float: left;
    width: 28%;
    margin-left: 2%;
}

.system-day {
    position:relative;
    float: right;
    width: 8%;
    margin: 0 2% 0 0;
    border-radius: 200px;
    color: #999999;
}

.marker {
    width: 50px;
    height: 50px;
    border-radius: 200px;
    background-color: #236fff;
}
.happy {
    background-color: #0d8008;
}

.eh {
    background-color: #f7ff5d;
}

.sad {
    background-color: #ff3a36;
}

.creds {
    margin: 100px auto 0 auto;
    width: 300px;
}

.creds-row {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 1em;
}

.creds-label {
    color: #999999;
    position: relative;
    float: left;
    width: 30%;
    line-height: .8em;
}

.creds-field {
    color: #999999;
    position: relative;
    float: left;
    width: 70%;
    line-height: .8em;
}

.cross-field input {
    width: 100%;
}

.creds-buttons {
    color: #999999;
    position: relative;
    float: left;
    width: 100%;
    text-align: right;
    line-height: .8em;
}

.creds-message {
    color: #ff3a36;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    line-height: .8em;
}

.welcome {
    margin: 100px auto 0 auto;
    width: 300px;
}

.welcome-row {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 1em;
    text-align: center;
}

.google-login {
    text-decoration: none;
    background: -webkit-linear-gradient(#d84033 , #e24e43); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d84033, #e24e43); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d84033, #e24e43); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d84033, #e24e43); /* Standard syntax */    color: #ffffff;
    padding: 10px 10px;
    border-radius: 3px;
}

.google-login:hover {
    background: #e24e43;
}

.google-login:active {
    background: #d84033;
}

.goto-dashboard {
    text-decoration: none;
    background: -webkit-linear-gradient(#04859D, #015666); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#04859D, #015666); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#04859D, #015666); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#04859D, #015666); /* Standard syntax */    color: #ffffff;
    padding: 10px 10px;
    border-radius: 3px;
}

.goto-dashboard:hover {
    background: #015666;
}

.goto-dashboard:active {
    background: #04859D;
}

input {
    line-height: 1.6em;
    border: 2px solid rgba(255, 98, 82, 0.80);
    border-radius: 4px;
    outline: none;
    color: #666666;
    font-size: 1em;
    width: 100%;
    padding-left:3px;
    padding-right: -3px;
}