<!DOCTYPE html>
<html>
    <head>
        <title>UP SHOT</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/style/upnow.css" TYPE="text/css"/>
        <link rel="stylesheet" href="/style/cubism.css" TYPE="text/css"/>
        <script src="/scripts/lib/jquery.min.js"></script>

    </head>
    <body>
        <header class="header-wrapper">
            <div class="header-content cf">
                <div class="header-left">
                    <a class="goto-home" href="/">UP SHOT</a>
                </div>
                <% if (user) { %>
                <div class="header-right">
                    <div class="display-name">
                        <%= user.displayName %>
                        <a class="sign-out" href="/signout">(sign out)</a>
                    </div>
                </div>
                <% } %>
            </div>
        </header>
        <div class="pigBand white"></div>
        <div class="pigBand white">
            <div class="content">
                <input id="newSite" placeholder="Enter new site to monitor..."/>
            </div>
        </div>
        <div class="pigBand white">
            <div class="content">
                <div class="contentCopy" id="squarecharts"></div>
            </div>
        </div>
        <div class="transitionDown"></div>
        <div class="pigBand"></div>
        <script src="/scripts/lib/d3.min.js"></script>
        <script src="/scripts/lib/cubism.v1.js"></script>
        <script src="/scripts/chart/chart.js"></script>
        <script>
            $("#newSite").keyup(function (e) {
                if (e.keyCode == 13) {
                    addSite();
                }
            });
            function addSite(){
                var newSite = JSON.stringify({"url":$("#newSite").val()});
                $.ajax({
                    type: "POST",
                    url: "/site",
                    data: newSite,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        $('#newSite').val('');
                        upshotChart.start('#squarecharts');
                    },
                    failure: function(errMsg,b,c) {
                        console.log(errMsg);
                    }
                });
            }
            function deleteSite(siteId){
                $.ajax({
                    url: '/site/'+siteId,
                    type: 'DELETE',
                    success: function(result) {
                        $('#newSite').val('');
                        upshotChart.start('#squarecharts');
                    }
                });
            }
        </script>
    </body>
</html>