<!DOCTYPE html>
<html>
    <head>
        <title>UP SHOT</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/style/upnow.css" TYPE="text/css"/>
    </head>
    <body>
        <header class="header-wrapper">
            <div class="header-content cf">
                <div class="header-left">
                    <a class="goto-home" href="/">UP SHOT</a>
                </div>
                <% if (user) { %>
                <div class="header-right">
                    <div class="display-name">
                        <%= user.displayName %>
                        <a class="sign-out" href="/signout">(sign out)</a>
                    </div>
                </div>
                <% } %>
            </div>
        </header>
        <div class="pigBand white"></div>
        <div class="band white">
            <div class="content">
        <div class="pigBand"></div>
        <div class="band">
            <div class="welcome">
                <% if (!user) { %>
                <div class="welcome-row">
                    <a class="google-login" href="/auth/google">
                        Sign on with Google
                    </a>
                </div>
                <% } else { %>
                <div class="welcome-row">
                        Welcome <%= user.name.givenName %>!
                </div>
                <div class="welcome-row">
                    <a class="goto-dashboard" href="/dashboard">
                        Take me to the Dashboard
                    </a>
                </div>
                <% } %>
                </div>
            </div>
        </div>
    </body>
</html>