<!DOCTYPE html>
<html>
    <head>
        <title>UP SHOT</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/style/upnow.css" TYPE="text/css"/>
    </head>
    <body>
        <header class="header-wrapper">
            <div class="header-content">
                <div class="header-left">
                    UP SHOT
                </div>
                <!--<div class="header-right">-->
                    <!--<div class="me"></div>-->
                <!--</div>-->
            </div>
        </header>


        <div class="pigBand white"></div>
        <div class="pigBand white"></div>
        <div class="pigBand white"></div>
        <div class="band white">
            <div class="content">
        <div class="pigBand"></div>
        <div class="band">
            Login <br/>
<% if (!user) { %>
	Welcome! Please log in. <a href="/auth/google">Sign On with Google</a>
<% } else { %>
	Hello, <%= user.identifier %>.
<% } %>
        </div>
    </body>
</html>